@font-face
{
	font-family: Ubuntu;
	src: url('fonts/Ubuntu.ttf');
}

@font-face
{
	font-family: Ubuntu;
	src: url('fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
}

@font-face
{
	font-family: Nazanin;
	src: url('fonts/Nazanin.ttf');
}

@font-face
{
	font-family: Nazanin;
	src: url('fonts/Nazanin-Bold.ttf');
	font-weight: bold;
}

@font-face
{
	font-family: Titr;
	src: url('fonts/Titr.ttf');
}

@font-face
{
	font-family: Titr;
	src: url('fonts/Titr.ttf');
	font-weight: bold;
}

a
{
	color: #0000F0;
	text-decoration: none;
}

.header a
{
	color: white;
	text-decoration: none;
}

.footer a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: #00000F;
}

body
{
	/*background: #AAAAAA url('images/page_tile_12.png');*/
	background: url('images/bg2.jpg');
	direction: rtl;
	line-height: 1.4em;
}

table.login
{
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0;
}

table.profile
{
	border: 0;
	width: 250px;
	font-size: 17px;
}

input
{
		max-width: 100px;
}

div
{
	display: block;
}

#print
{
	width: 800px;
	height: 100%;
	margin: auto;
}

.transparent
{
	opacity: .4;
	background: #4040AA;	
	height: inherit;
	width: inherit;
	float: right;
}

.header
{
	font-family: B Titr, Titr;
	font-size: 18px;
	width: 100%;
	margin-top: -10;
	height: 60px;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #00000F;
	border-bottom: 5px solid #00000F;
}

.footer
{
	direction: ltr;
	font-family: Ubuntu, Arial, Times New Roman, B Nazanin, Nazanin;
	font-size: 17px;
	border-bottom: none;
	width: 100%;
	height: 60px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #00000F;
	border-top: 5px solid #00000F;
	border-bottom: none;
	clear: both;
}

.footer .copyright
{
	position: absolute;
	margin: 10px 200px 10px 200px;
}

.boxes
{
	width: 100%;
	min-height: 90%;
	margin-top: 10px;
}

img.logo
{
	max-width: 70%;
	margin: 5px;
}

ul.headerLinks
{
	margin-top: 18px;
	position: absolute;
}

li.headerLinks
{
	margin-left: 2em;
	margin-right: 1.5em;
	float: right;
}

.right_menu
{
	float: right;
	width: 27.5%;
}

.right_menu .box
{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	color: #000;
	background: #EEF;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #00000F;
	border-top: 5px solid #00000F;
}

.right_menu .box .title
{
	font-weight: bold;
	font-size: 18px; 
	text-align: center;
	margin-top: 3px;
	width: 100%;
	height: 25px;	
}

.right_menu .box .contents
{
	font-size: 16px; 
	text-align: right;
	margin: 8px;
	width: 93%;
}

.right_menu .box img
{
	max-width: 150px;
	max-height: 150px;
}

.right_menu .box p
{
	margin: 10px;
}

.right_menu .box ul
{
	margin-right: 10px;
}

.posts
{
	width: 71%;
	float: right;
	margin-right: 10px;
}

.posts .box
{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	color: #000;
	background: #EEF;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid #00000F;
	border-top: 5px solid #00000F;
}

.posts .box .title
{
	font-weight: bold;
	font-size: 18px; 
	text-align: center;
	margin-top: 5px;
	width: 100%;
	height: 25px;	
}

.posts .box .contents
{
	font-size: 16px; 
	text-align: right;
	margin: 8px;
	max-width: 97%;
}

.posts .box img
{
	max-height: 500px;
	max-width: 500px;
}

.posts .box .info
{
	font-size: 14;
	width: inherit;
	height: 25px;
	border-top: 1px dashed #CCC;
}

.posts .box .info .left_aligned
{
	float: left;
	border-right: 1px dashed #CCC;
	padding-right: 8px;
	padding-left: 8px;
}

.posts .box .info .right_aligned
{
	float: right;
	padding-right: 8px;
	padding-left: 8px;
}

.posts .box table.profile_avatar
{
	float: left;	
	margin: 10px;
	margin-left: 20px;
	text-align: center;
}

.posts .box img
{
	min-width: 100px;
	min-height: 100px;
	max-width: 160px;
	max-height: 160px;
	border: 1px solid black;
}

#proposal{
	position: relative;
	width: 1000px;
	margin-left: 150px;
	color: #777;
	margin-right: 150px;
	font-family:'Faraz';
	font-size: large;
	background-color: #eeeeee;
	border-style: groove;
	border-radius: 5px;
	border-spacing:5px;
}

.posts .box fieldset
{
	width: 94%;
}

textarea.small_editable{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	background: white;
	color: #0044a0;
	width: 100%;
	height: 30px;
	resize: none;
	font-size: medium;
	text-align: center;
	padding-top: 8px;
}

textarea.project_title{
	background: white;
	color: #0044a0;
	width: 400px;
	height: 30px;
}

textarea.proposal_ID{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	background: white;
	color: #0044a0;
	height: 30px;
	resize: none;
	font-size: medium;
	text-align: center;
	padding-top: 8px;
	width: 50px;
}


textarea.large_editable{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	background: white;
	color: #0044a0;
	width: 100%;
	height: 100px;
	overflow: scroll;
	resize: none;
	font-size: medium;
}

.profile_editable{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	background: inherit;
	color: #000000;
	min-width: 150px;
	height: 25px;
	resize: none;
	padding-top: 5px;
	border: none;
	font-size: 16px;
}

#edit_box
{
	position: absolute;
	background: green;
	color:white;
	width: 70%;
	margin-right: 15%;
	bottom: 30%;
	border-radius: 10;
	border-style: ridge;
	border-color: #00ff34;
	font-family:'Faraz';
	font-size: large;
}

#edit_box_content
{
	resize: none;
}

button
{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	font-weight: bold;
	font-size: 13px;
	height: 25px;
	min-width: 70px;
	border-radius: 5px;
	border: none;
	margin: 3px;
}

.blue_button
{
	color: white;
	background-image:-webkit-linear-gradient(rgb(82,168,231) 0%, rgb(43,122,195) 100%);
	background-image:-moz-linear-gradient(rgb(82,168,231) 0%, rgb(43,122,195) 100%);
}

.blue_button:hover
{
	background-image:-webkit-linear-gradient(rgb(101,177,233) 0%, rgb(19,97,188) 100%);
	background-image:-moz-linear-gradient(rgb(101,177,233) 0%, rgb(19,97,188) 100%);
}

.proposal_link
{
	color: black;
	font-size: 12px;
	height: 25px;
	background-image:-webkit-linear-gradient(#ffffff 0%, rgb(230,230,230) 100%);
	background-image:-moz-linear-gradient(#ffffff 0%, rgb(230,230,230) 100%);
}

.proposal_link:hover{
	background-image:-webkit-linear-gradient(#ffffff 0%, rgb(219,219,219) 100%);
	background-image:-moz-linear-gradient(#ffffff 0%, rgb(219,219,219) 100%);
}

.white_button
{
	color: black;
	font-size: 12px;
	height: 25px;
	background-image:-webkit-linear-gradient(#ffffff 0%, rgb(230,230,230) 100%);
	background-image:-moz-linear-gradient(#ffffff 0%, rgb(230,230,230) 100%);
}

.white_button:hover{
	background-image:-webkit-linear-gradient(#ffffff 0%, rgb(219,219,219) 100%);
	background-image:-moz-linear-gradient(#ffffff 0%, rgb(219,219,219) 100%);
}

.red_button
{
	color: white;
	background-image:-webkit-linear-gradient(rgb(182,0,0) 0%, rgb(143,0,0) 100%);
	background-image:-moz-linear-gradient(rgb(182,0,0) 0%, rgb(143,0,0) 100%);
}

.red_button:hover{
	background-image:-webkit-linear-gradient(rgb(200,0,0) 0%, rgb(100,0,0) 100%);
	background-image:-moz-linear-gradient(rgb(200,0,0) 0%, rgb(100,0,0) 100%);
}

.green_button
{
	color: white;
	background-image:-webkit-linear-gradient(rgb(0,182,0) 0%, rgb(0,143,0) 100%);
	background-image:-moz-linear-gradient(rgb(0,182,0) 0%, rgb(0,143,0) 100%);
}

.green_button:hover{
	background-image:-webkit-linear-gradient(rgb(0,200,0) 0%, rgb(0,100,0) 100%);
	background-image:-moz-linear-gradient(rgb(0,200,0) 0%, rgb(0,100,0) 100%);
}

.orange_button
{
	color: black;
	font-size: 12px;
	height: 20px;
	background-image:-webkit-linear-gradient(rgb(255,250,0) 0%, rgb(255,200,0) 100%);
	background-image:-moz-linear-gradient(rgb(255,250,0) 0%, rgb(255,200,0) 100%);
}

.orange_button:hover{
	background-image:-webkit-linear-gradient(rgb(255,255,0) 0%, rgb(255,180,0) 100%);
	background-image:-moz-linear-gradient(rgb(255,255,0) 0%, rgb(255,180,0) 100%);
}

select
{
	font-family: B Nazanin, Nazanin, Ubuntu, Arial, Times New Roman;
	font-size: 15px;
}